{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    <!-- Section-->
    <div class="container mt-4 mb-4">
        <h1>Editar</h1>
        {{ include('admin/clothes/_form.html.twig', {form: form, button: 'Editar'}) }}
    </div>   
{% endblock %}

