{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    <!-- Section-->
    <div class="container mt-4 mb-4">
        <h1>Criar um novo registro</h1>
        {{ include('admin/clothes/form.html.twig', {form: form, button: 'Criar'}) }}
    </div>   
{% endblock %}
